#slides {margin: 0 auto; width: 950px; position:relative; height: auto; }
.slides_container {width:950px;height:491px;}
  .slides_container div.slide {width:940px;height: auto; display:block;padding:5px; background:#fff;}
  .slides_container div.slide img{ max-width:100%; height: auto;}
/* Control Nav */
.caption{ width:555px; height:93px; background: url(../images/banner.png) 0 0 repeat; position:absolute; left:-5px; bottom:50px;}
	.text1{ font:300 30px/36px 'Kreon', serif; color:#fff; padding:16px 0 0 27px;}
	.text2{color:#787469; font:14px/17px "Trebuchet MS", Arial, Helvetica, sans-serif; padding:0 0 0 30px;}
.next,.prev{ display:block; width:60px; height:60px; position:absolute; bottom:67px; line-height:0; font-size:0; z-index:99;}
	.next{ background:url(../images/button-next.png) 0 0 no-repeat; right:44px;}
	.prev{ background:url(../images/button-prev.png) 0 0 no-repeat; right:115px;}
	.next:hover,.prev:hover{ background-position:0 -60px;}
@media only screen and (min-width: 768px) and (max-width: 985px) {.slides_container div.slide {width: 748px !important;height:383px;}#slides,.slides_container{width: 768px !important;height:403px;}.caption{ bottom:30px;}.next,.prev{bottom:55px;}.slides_container { margin:0 5px;}}
@media only screen and (max-width: 767px) {.slides_container div.slide{width: 280px;height:144px;}#slides,.slides_container{width: 290px;height:154px;}.pagination {bottom:7px !important; left:9px !important;}.caption{ display:none !important;}.next,.prev{bottom:10px;}.next{right:10px;}.prev{right:76px;}}
@media only screen and (min-width: 480px) and (max-width: 767px) {.slides_container div.slide{width: 420px;height:215px;}#slides,.slides_container{width: 430px;height:225px;}}