{% extends "base.html" %}
{% block slides %}

		<div class="title2">We need your support to accommodate, feed and educate!<span>Give unwanted goods to charity!</span></div>
		<div class="wrapper">
			<div id="slides">
				<div class="slides_container">
					<div class="slide">
						<a href="#"><img src="{{ STATIC_URL }}images/slide1.jpg" alt=""></a>
						<div class="caption">
							<div class="text1">Power to the young people!</div>
							<div class="text2">Let’s build the world without child abuse and neglect!</div>
						</div>
					</div>
					<div class="slide">
						<a href="#"><img src="{{ STATIC_URL }}images/slide2.jpg" alt=""></a>
						<div class="caption">
							<div class="text1">We can change the world!</div>
							<div class="text2">We do a lot to make all the children of the world happy</div>
						</div>
					</div>
					<div class="slide">
						<a href="#"><img src="{{ STATIC_URL }}images/slide3.jpg" alt=""></a>
						<div class="caption">
							<div class="text1">The deed is everything, the glory naught</div>
							<div class="text2">The great use of life is to spend it for something that outlasts it.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block content %}
	<!-- content -->
	<div class="bg3">
	<section id="content"> 
	<div class="padcontent">
		<div class="container_24">
			<div class="wrapper z1">
				<div class="grid_6">
					<h3>Latest Projects</h3>
					<p>Take a look at how we’re working to improve the live’s of the Baby Moses Children.</p>
				</div>
				<div class="grid_6">
					<div class="box">
						<img src="{{ STATIC_URL }}images/1page_img1.jpg" alt="">
						<div>
							<span>NEW HOKE ROODEPOORT</span>
							<a href="#"><span></span>Read More</a>
						</div>
					</div>
				</div>
				<div class="grid_6">
					<div class="box">
						<img src="{{ STATIC_URL }}images/1page_img2.jpg" alt="">
						<div>
							<span>Sponsor a child</span>
							<a href="#"><span></span>Read More</a>
						</div>
					</div>
				</div>
				<div class="grid_6">
					<div class="box">
						<img src="{{ STATIC_URL }}images/1page_img3.jpg" alt="">
						<div>
							<span>Sponsor a child</span>
							<a href="#"><span></span>Read More</a>
						</div>
					</div>
				</div>
			</div>
			<!--div class="z2"><div class="grid_6 margtop"><a href="#" class="button">View All Projects</a></div><div class="clear"></div></div-->
			<div class="padtop22"><div class="line"></div></div>
			<div class="wrapper z1">
				<div class="grid_6 padtop2">
					<h3>Latest News</h3>
					<p>Here you can find our latest news and highlights.</p>
				</div>
				<div class="grid_6">
					<div class="news">
						<div class="fleft date"><span>16</span>feb</div>
						<div class="extra-wrap">
							<a href="#" class="link1">child and working<br> age poverty set to rise in next three years</a>
						</div>
						<div class="extra-wrap2">
							<p>Lorem ipsum dolor sit amet, consectetuer adpi scing elit, sed diam nonu mmy nibh euismod tinc idunt ut laoreet.</p>
							<a href="#" class="button">Read More</a>
						</div>
					</div>
				</div>
				<div class="grid_6">
					<div class="news">
						<div class="fleft date"><span>14</span>feb</div>
						<div class="extra-wrap">
							<a href="#" class="link1">Power to the young people. Jaguar prize draw winner announced</a>
						</div>
						<div class="extra-wrap2">
							<p>Lorem ipsum dolor sit amet, consectetuer adpi scing elit, sed diam nonu mmy nibh euismod tinc idunt ut laoreet.</p>
							<a href="#" class="button">Read More</a>
						</div>
					</div>
				</div>
				<div class="grid_6">
					<div class="news">
						<div class="fleft date"><span>12</span>feb</div>
						<div class="extra-wrap">
							<a href="#" class="link1">One man, one run,1000 miles. challenges the concept of limitations.</a>
						</div>
						<div class="extra-wrap2">
							<p>Lorem ipsum dolor sit amet, consectetuer adpi scing elit, sed diam nonu mmy nibh euismod tinc idunt ut laoreet.</p>
							<a href="#" class="button">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="z2"><div class="grid_6 margtop2"><a href="#" class="button">View All News</a></div><div class="clear"></div></div>
		</div>
	</div>
	</section>
	</div>
{% endblock %}
	
